<!DOCTYPE html5>
<html ng-app="MyApp">
    <head>
        <title>PopCorn</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- angularjs -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <!-- principal module -->
        <script src="js/app.js"></script>


    </head>
    <body>
        
        <h1>Sesion 2</h1>
        
        <p>{{2 + 2}}</p>
        
        <div ng-controller="MyCtrl">
            <br>
            <h4>Controller 1</h4> 
            {{sms}}
            <div ng-controller="MyCtrl2">
                <br>
                <h4>Controller 2</h4> 
                {{sms}}
            </div>
        </div>
        
        
        <div ng-controller="MyCtrl3">
            <br>
            <h4>Controller 3</h4> 

            <input type="number" ng-model="num1">
            <br>
            <input type="number" ng-model="num2">
            <br>
            <button type="button" ng-click="sumar()">sumar</button>

            <br>
            <br>
            Resultado:  {{resp}}
        
        </div>

    </body>
</html>